discord.py[speed]>=2.3.1
git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
lxml~=5.3.0
psutil
asyncpg>=0.12.0
psycopg2-binary>=2.9.9
typing_extensions>=4,<5
click~=8.1.7
parsedatetime~=2.6
lru_dict
python-dateutil~=2.9.0.post0
pytz>=2024.1
pygit2
mmh3
discord~=2.3.2
requests~=2.32.3
aiohttp~=3.10.10
lxml>=5.1.0
psutil>=5.9.8
pygit2>=1.13.3
GitPython>=3.1.42
PyQt6>=6.6.1
PyQt6-Qt6>=6.6.1
PyQt6-sip>=13.6.0

